@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --blue: #61c2a2;
    --black: rgb(121, 121, 121);
    --green: #c8f5e1;
    --white: whitesmoke;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.heading{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1.4rem;
    color: var(--black);
    margin: 2rem auto;
    padding-top: 6rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--blue);
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 1.5rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.366);
}

.header .logo{
    height: 2.3rem;
}

.header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0; padding: 0;
}

.header nav ul li{
    margin: 0 1.5rem;
}

.header nav ul li a{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--black);
}

.header nav ul li a:hover{
    color: #000;
    text-decoration: none;
}

.header .uil-bars{
    font-size: 2.5em;
    color: var(--black);
    cursor: pointer;
    display: none;
}

.header .uil-multiply{
    display: none;
}

.home .hero{
    min-height: 60vh;
    background-image: url(../imgs/imagem-jumbo.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .hero .text1{
    font-size: 5rem;
    width: 50rem;
    background-color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    opacity: .8;
    color: var(--black);
}

.home .hero .text2{
    font-size: 3rem;
    width: 40rem;
    background-color: var(--blue);
    padding: 1rem 2rem;
    text-align: center;
    opacity: .8;
    margin-top: 1rem;
    color: white;
}

.home .counting{
    min-height: 40vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .counting .box{
    margin: 2rem 4rem;
    text-align: left;
    width: 200px;
    padding: 5px;
    border-left: 1px solid #61c2a2;
    border-bottom: 1px solid #61c2a2;
}

.home .counting .box .count{
    font-size: 7rem;
    color: var(--black);
}

.home .counting .box h3{
    font-size: 2rem;
    color: var(--blue);
    font-weight: 600;
}

.about{
    min-height: 100vh;
    padding-bottom: 3rem;   
}

.about .image{
    padding: 2rem;
}

.about .image img{
    height: 45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem #61c2a2;
}

.about .info{
    padding: 2rem;
    margin-top: 3rem;
}

.about .info h2{
    color: var(--blue);
    font-size: 3rem;
}

.about .info p{
    font-size: 1.4rem;
    color: var(--black);
    margin: 2rem 0;
}

.about .info .icons a{
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    background-color: var(--black);
    color: white;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
    padding: 3px 5px;
}

.about .info .icons a:hover{
    background-color: var(--blue);
}

.service{
    min-height: 100vh;
}

.service .box-container{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box{
    height: 25rem;
    width: 25rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0,.3);
    border-left: .5rem solid #61c2a2;
    border-right: .5rem solid #61c2a2;
    border-radius: .5rem;
    text-align: center;
    padding-top: 6rem;
    margin: 2rem 3rem;
}

.service .box-container .box .uil{
    color: var(--blue);
    font-size: 5rem;
}

.service .box-container .box p{
    color: black;
    font-size: 1.1rem;
}

.project{
    min-height: 100vh;
    background: rgb(34, 34, 34);
}

.project .heading{
    color: white;
}

.project .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project .box-container .box{
    height: 20rem;
    width: 30rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem black;
    overflow: hidden;
}

.project .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: default;
}

.project .box-container .box img:hover{
    transform: scale(1.4);
}







.uil-multiply{
    transform: rotate(180deg);
}










/* media queries */

@media (max-width: 768px){
    html{
        font-size: 50%;
    }

    .header .uil-bars{
        display: block;
    }

    .header .uil-multiply{
        font-size: 2.5em;
        color: var(--black);
        cursor: pointer;
        display: block;
    }

    .header nav{
        position: fixed;
        top: 7rem; right: -120% ;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0,.5);
        z-index: 1000;
    }

    .header nav ul{
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li{
        margin: 1rem 0;
    }

    .header nav ul li a{
        display: block;
        padding: .5rem 0;
        border: .1rem solid rgba(0, 0, 0,.3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover{
        background: #333;
        color: #fff;
    }

    .header .nav-toggle{
        right: 0%;
    }

    .header .nav-hidden{
        right: -120%;
    }
}

@media (max-width: 440px){
    .home .hero .text1{
        font-size: 3.5rem;
        width: 40rem;
    }

    .home .hero .text2{
        font-size: 2.5rem;
        width: 33rem;
    }
}